:root {
  /* This is the colors on the site that create the main theme of the website*/
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;

  /* This is the colors on the site that create the main theme of the website Text sections like headers and body text and so on*/
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --border-radius: 40px;
}

html {
  font-size: 62.5%;
}
body {
  font-family: Inter;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  body {
    font-size: 1.8rem;
  }
}

/* Links */

a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
  -webkit-transition: margin 0.15s;
  -moz-transition: margin 0.15s;
  -ms-transition: margin 0.15s;
  -o-transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  
  font-weight: 500;
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.list--bold {
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}
.icon--white {
  fill: #fff;
}

.icon--accent {
  fill: var(--color-accent);
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  display: inline-flex;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  justify-content: center;
  align-items: center;
}

/* Buttons */

.button {
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 2px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  
}

.button--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.button--accent {
  background: var(--color-accent);
  color: #fff;
}

.button--cards:hover {
  background: var(--color-headings);
  color: #fff;
}

.button--cards {
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  background: #fff;
  border: 2px solid #1b0760;
  color: var(--color-headings);
  transition: 0.5s;
}

.button--accent:hover {
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  background: #fff;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  transition: 0.5s;
}

.button--secondary:hover {
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  background: #fff;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
  transition: 0.5s;
}

.button {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
    width: 100%;
  }
}

/* Inputs */

.input {
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

.input-group {
  padding: 0.5rem;
  display: flex;
  flex-grow: 1;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

/* Cards */

.card {
  margin: 40px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  overflow: hidden;
  box-shadow: 0 0 10px 1px #cfcfcf;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.card__heading,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__heading {
  background-color: var(--color-primary);
  color: #fff;
}

.card--secondary .card__heading {
  background-color: var(--color-secondary);
  color: #fff;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}
.card:hover {
  transform: scale(1.05);
}


/* Plans */

.plan__name{
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price{
  font-size: 6rem;
}

.plan__billing-cycle{
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}


.plan__description{
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.plan .list__item{
 
  margin-bottom: 2rem;
}

.grouped--plans{
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .grouped--plans {
    flex-direction: column;
  }
}