:root {
  /* This is the colors on the site that create the main theme of the website*/
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;

  /* This is the colors on the site that create the main theme of the website Text sections like headers and body text and so on*/
  --color-headings: #1b0760;
  --color-body-darker: #5c5577;
  --color-body: #918ca4;
  --color-border: #ccc;
  --border-radius: 40px;
}

html {
  font-size: 62.5%;
}
body {
  font-family: Inter;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
  
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  margin-top: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 5rem !important;
}

h2 {
  font-size: 3.3rem !important;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  body {
    font-size: 1.8rem;
  }
}

/* Links */

a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
  -webkit-transition: margin 0.15s;
  -moz-transition: margin 0.15s;
  -ms-transition: margin 0.15s;
  -o-transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  font-weight: 500;
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.list--bold {
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}
.icon--white {
  fill: #fff;
}

.icon--accent {
  fill: var(--color-accent);
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  display: inline-flex;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.icon-container-accent {
  background: var(--color-accent);
  width: 64px;
  height: 64px;
  display: inline-flex;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  justify-content: center;
  align-items: center;
}

/* Buttons */

.button {
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 2px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  width: 100%; /* Add this line to make the button take up full width */
}

.button--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.button--accent {
  background: var(--color-accent);
  color: #fff;
}

.button--cards:hover {
  background: var(--color-headings);
  color: #fff;
}

.button--cards {
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  background: #fff;
  border: 2px solid #1b0760;
  color: var(--color-headings);
  transition: 0.5s;
}

.button--accent:hover {
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  background: #fff;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  transition: 0.5s;
}

.button--secondary:hover {
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  background: #fff;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
  transition: 0.5s;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
    width: 100%;
  }
}

/* Inputs */

.input {
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}



.input-group {
  justify-content: space-between;
  max-width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: 50px;
}

.input-group .input {
  border: 0;
  font-size: 2.4rem;
  padding: 1.5rem 1rem;
  flex: 1; /* Let the input field grow to take remaining space */
}

.input-group .button {
  max-width: 30%; /* Limit the button's width */
  font-size: 1.8rem;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  transition: color 0.5s, background-color 0.5s !important;
  -webkit-transition: color 0.5s, background-color 0.5s !important;
  -moz-transition: color 0.5s, background-color 0.5s !important;
  -ms-transition: color 0.5s, background-color 0.5s !important;
  -o-transition: color 0.5s, background-color 0.5s !important;
}

.input-group .button > svg{
  width: 1.5em;
  height: 1.5em;
}
.input-group .button:hover >svg {
  transition:color 0.5s;
  fill: var(--color-accent);
  -webkit-transition:color 0.5s;
  -moz-transition:color 0.5s;
  -ms-transition:color 0.5s;
  -o-transition:color 0.5s;
}

@media screen and (max-width: 767px) {
  .input-group .input {
    font-size: 1.8rem;
  }

  .input-group .button {
    font-size: 1.8rem;
    padding: 1.5rem 1rem;
  max-width: 16%;

  }


 .input-group .button {
  max-width: 15%;
   color: transparent;
   /* Hide the original content */
   font-size: 1.8rem;
   padding: 1.5rem 1rem;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   /* Add position relative */
 }
 
 .input-group .button:hover {
   /*Addanystyleshereifyouwanttochangethebuttononhover*/background-color:var(--color-accent);
   transform:scale(0.9) ;
   -webkit-transform:scale(0.95) ;
   -moz-transform:scale(0.9) ;
   -ms-transform:scale(0.9) ;
   -o-transform:scale(0.9) ;
   transition: all 0.3s ease-in;
   -webkit-transition: all 0.3s ease-in;
   -moz-transition: all 0.3s ease-in;
   -ms-transition: all 0.3s ease-in;
   -o-transition: all 0.3s ease-in;
}


 .input-group .button::before {
   content: url('../images/search.svg');
   /* Add the SVG icon */
   display: block;
   width: 1.5em;
   /* Adjust the size of the icon */
   height: 1.5em;
   /* Adjust the size of the icon */
   position: absolute;
   /* Position the icon */
   top: 50%;
   /* Align the icon vertically */
   left: 50%;
   /* Align the icon horizontally */
   transform: translate(-50%, -50%);
   /* Center the icon */
 }
}


/* Cards */

/* Cards */

.card {
  width: 90vw;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  box-shadow: 0 0 10px 1px #cfcfcf;
  border-radius: 7px;
}
.card__heading,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__heading {
  background-color: var(--color-primary);
  color: #fff;
}

.card--secondary .card__heading {
  background-color: var(--color-secondary);
  color: #fff;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

@media screen and (min-width: 1024px) {
  .card {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }

  .card--big {
    transform: scale(1.1);
  }

  .card:hover {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }

  .card--big {
    transform: scale(1.1);
  }

  .card:hover {
    transform: scale(1.2);
  }
}



/* Plans */

.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.grouped--plans {
  margin: 5px;
  display: flex;
  width: 100%;
 justify-content: center;
  gap: 3.5rem;
}
.plan--popular .card__heading {
  position: relative;
}

.plan--popular .card__heading::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

.plans {
  display: flex;
 justify-content: center;
 align-items: center;
  gap: 20px;
  margin-top: 8rem;
 
}

.grouped--plans {
  margin: 5px;
  display: flex;
  flex-direction: column; /* Stack cards on mobile */
  align-items: center; /* Center cards on mobile */
  gap: 1rem; /* Decrease gap between cards on mobile */
  padding: 0 20px; /* Add padding to center on mobile */
}

@media screen and (min-width: 1024px) {
  .grouped--plans {
    flex-direction: row; /* Align cards in a row on larger screens */
    justify-content: center; /* Center cards on larger screens */
    gap: 7rem; /* Increase gap between cards on larger screens */
    padding: 0; /* Remove padding on larger screens */
  }
}
/* Media Objects */

.media {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 90%;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {

  
  fill: var(--color-primary) !important;
}

/* Quote */

.quote {
  font-size: 3rem;
  color: var(--color-body-darker);
  font-style: italic;
  line-height: 1.3;
 
}

.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}

.quote .media__image {
  margin-top: 0rem;
}

.quote .media__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0;
}

.quote .media__description {
  font-family: Montserrat;
  color: var(--color-headings);
  font-size: 2rem;
  font-style: normal;
  opacity: 0.4;
}

/* Grids */

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .quote .media__image {
    margin-top: -0.3rem;
  }
}

@media screen and (max-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .quote__text {
    width: 100% !important;
    box-sizing: border-box;
  }
  .quote .media__image {
    margin-top: -0.3rem;
  }
}

/* Testimonial */

.card.testimonial {
  padding: 3rem;
  display: flex;
  justify-content: center;
}

/* Override the hover effect for .card inside .testimonial */
.card.testimonial:hover {
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}

.testimonial__image {
  position: relative;
  padding: 3rem;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image > .icon-container-accent {
  position: absolute;
  top: 2rem;
  right: -10px;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .media__title {
    font-size: 2.4rem;
  }
  .testimonial .media__description {
    font-size: 1.6rem;
  }
  .card.testimonial .quote > p {
    font-size: 2rem;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .testimonial .quote,
  .testimonial .media__title {
    font-size: 2.4rem;
  }
  .testimonial .media__description {
    font-size: 1.6rem;
  }
  .card.testimonial .quote > p {
    font-size: 2rem !important;
  }
  .testimonial__image > .icon-container-accent {
    position: absolute;
    top: 2rem;
    right: 5px !important;
  }
  .card.testimonial.media__description,
  .card.testimonial.media__description {
    font-size: 1rem !important;
  }
  .testimonial .quote {
    width: 100%;
    margin: auto !important;
  }
}

.testimonial .quote {
  margin-left: 6rem;
}

/* Callout */

.callout {
  display: flex;
  background: var(--color-primary);
  color: #fff;
  padding: 3rem;
  text-align: left;
  border-radius: 10px;
  position: relative;
  top: -6rem;
}

.callout .grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.callout .callout__content > h2 {
  font-size: 3rem;
  color: #fff !important;
}

@media screen and (max-width: 768px) {
  .callout .grid {
    grid-template-columns: 1fr;
  }
  .callout .callout__content > h2 {
    text-align: center;
    font-size: 3rem !important;
  }
  .callout .callout__content > p {
    text-align: center;
  }
}

/* Collapsible */
.collapsible__header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.collapsible__header > h2 {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
}

.collapsible .icon-container {
  width: 50px;
  height: 50px;
  background-color: #393939;
}

.collapsible__chevron {
  width: 20px;
  height: 20px;
  fill: #fff;
  transform: rotate(-90deg) !important;
  -webkit-transition: transform 0.3s !important;
  -moz-transition: transform 0.3s !important;
  -ms-transition: transform 0.3s !important;
  -o-transition: transform 0.3s !important;
  transition: transform 0.3s !important;
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  color: #fff;
  list-style-type: none;
  opacity: 0;
  transition: all 0.4s !important;
  -webkit-transition: all 0.4s !important;
  -moz-transition: all 0.4s !important;
  -ms-transition: all 0.4s !important;
  -o-transition: all 0.4s !important;
}
.collapsible__content > li {
  margin: 20px 0;
  
}
.collapsible--expander .collapsible__chevron {
  transform: rotate(0deg) !important;
  -webkit-transform: rotate(0deg) !important;
  -moz-transform: rotate(0deg) !important;
  -ms-transform: rotate(0deg) !important;
  -o-transform: rotate(0deg) !important;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.collapsible--expander .collapsible__content {
  display: block;
  max-height: 100vh;
  opacity: 0.5;
}

.collapsible__break {
  border: 1px solid #393939;
  margin-top: 15px;
}


/* Blocks */
.first-block{
  padding-top: 6rem;
}
.block {
  --padding-vertical: 6rem;
  padding: --padding-vertical 2rem;
}



@media screen and (min-width: 768px) {
  .block__header {
    text-align: center;
    padding: 10rem 0 0 0  !important;
  }
}
.block__header {
  text-align: center;
  padding: 1rem;
}

.block--dark {
  background: #000;
  color: #7b858b;
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--dark h2 {
  color: #fff;
}

.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}

.block--skewed-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.container.block-plan{
  margin: 0 auto;
  max-width: 1400px;
}

.container.block-functions{
  margin: 0 auto;
  max-width: 1400px;
}



/* Navigation Bar */

.nav {
  background: #000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed; top: 0; width: 100%;
  overflow: hidden;
  z-index: 1000;
  width: 100vw;

}




.nav__list {
  width: 100%;
  flex-wrap: wrap;
  margin: 0;
}
.nav__image {
  transform: translateY(0.5rem);
  width: 150px;
  -webkit-transform: translateY(0.5rem);
  -moz-transform: translateY(0.5rem);
  -ms-transform: translateY(0.5rem);
  -o-transform: translateY(0.5rem);
}

.nav__menu {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  margin-right: 5%;
  cursor: pointer;
}

.nav__item {
  padding: 0.5rem 2rem;
  font-size: 2.4rem;
  font-weight: 300;
  border-bottom: 1px solid #222;
}
.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}
.nav__item > a:hover {
  color: #fff;
  opacity: 1 !important;
}
.nav.collapsible--expander .nav__menu {
  opacity: 1;
}
.list.collapsible__content {
  opacity: 1 !important;
}

@media screen and (max-width: 800px) {
  .nav__image {
    width: 150px;
  }
}

@media screen and (min-width: 768px) {
  .nav__menu {
    display: none;
  }

  .list.nav__list {
    padding: 0 2rem;
    display: flex;
    width: auto;
    max-height: 100%;
    opacity: 1;
    gap: 4rem;
  }

  .nav__item {
    border-bottom: none;
  }
}

/* Hero Section */


.hero__heading {
  color: #fff;
  font-size: 6rem;
  text-align: center;
  margin-top: 10rem;
}

.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  text-align: center;
  margin: 2rem 0 5rem 0;
}

.hero__image {
  width: 100%;
}

.hero__container {
 
  display: grid;
  grid-template-columns: 1fr; /* Default to one column */
  justify-items: center;
  text-align: center;
}

@media (min-width:1024px) {
  /* Adjust the breakpoint as needed */
  .hero__container {
    grid-template-columns: 1fr 1fr; /* Two columns on desktop */
    align-items: center;
    gap: 6rem;
  }
  .hero__heading {
    color: #fff;
    font-size: 6rem;
    text-align: left;
    margin-top: 40%;
  }

  .hero__tagline {
    font-size: 2rem;
    color: #b9c3cf;
    text-align: left;
    margin: 2rem 0 5rem 0;
  }
  .buttonDiv {
    width: 100%;

    padding: 0 !important; /* Adjust as needed */
    box-sizing: border-box; /* Include padding and border in the total width */
  }

  .buttonDiv > a {
    display: block; /* or inline-block */
    width: 100%;
    max-width: 100%; /* Set to 100% to prevent overflow */
    text-align: center; /* Center the text horizontally */
    box-sizing: border-box; /* Include padding and border in the total width */
  }
}

.buttonDiv {
  width: 100%;

  padding: 10px; /* Adjust as needed */
  box-sizing: border-box; /* Include padding and border in the total width */
}

.buttonDiv > a {
  display: block; /* or inline-block */
  width: 100%;
  max-width: 100%; /* Set to 100% to prevent overflow */
  text-align: center; /* Center the text horizontally */
  box-sizing: border-box; /* Include padding and border in the total width */
}

/* Domain Block */

.block-domain h1{
  padding: 1rem;

}
.block-domain p {
  padding: 1rem;

}

.block-domain .input-group {
  margin-top: 1rem;
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
}
.accent__word{
  color: var(--color-accent);
  font-weight: bold;
}

.block-domain__prices{
  margin-top: 3rem !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 6rem);
  font-size: 2rem;
  font-weight: 600;
  max-width: 350px;
  margin: 0 auto;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    margin-top: 3rem !important;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 0;
    font-size: 2rem;
    max-width: 1200px;
    font-weight: 600;
    justify-items: center;
  }
}

.block-domain .badge{
  font-size: 2rem;
}

.block__heading{
  font-size: 4rem !important;
margin-top: 5rem !important;
margin-bottom: 1rem;
}


/* Features */

.block-functions {
  text-align: center !important; /* Center align all text */
  display: flex !important; /* Use flexbox for centering */
  flex-direction: column !important; /* Stack items vertically */
  justify-content: center !important; /* Center vertically */
  align-items: center !important; /* Center horizontally */
  width: 95%;
  gap: 5rem;
  margin-bottom: 10rem!important;
}

.feature {
  display: grid;
  gap: 4rem;
}

/* For large screens */
@media only screen and (min-width: 768px) {
  .feature {
    grid-template-columns: repeat(2, 1fr); /* 2 column grid */
    text-align: left; /* Left align text in the grid */
  }
  .feature img {
    width: 100%; /* Image takes up 50% of the container */
    margin: 0 auto; /* Center the image */
  }
}

@media only screen and (max-width: 767px) {
  .feature {
    grid-template-columns: 1fr; /* Stacked layout */
  }

  .feature img {
    width: 90%; /* Image takes up 50% of the container */
    margin: 0 auto; /* Center the image */
    order: -1; /* Move the image to the left */
  }
}


/* Showcase */

.block__showcase {
  text-align: center !important; /* Center align all text */
  display: flex !important; /* Use flexbox for centering */
  flex-direction: column !important; /* Stack items vertically */
  justify-content: center !important; /* Center vertically */
  align-items: center !important; /* Center horizontally */
  width: 100%;
  gap: 5rem;
  padding-bottom: 0!important;
}

.showcase-heading{
  max-width: 1400px;
}
.showcase-heading h1 {
  color: #fff !important;
}

.showcase-media {
  display: flex;
  flex-direction: column;
  justify-content: start; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  margin: auto;
  
}



.showcase-media h3 {
  color: #fff !important;
}

.show-feature{
  margin-bottom: 14rem;
}
@media screen and (min-width: 1024px) {
  
  .showcase-media {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: flex-start; /* Align content to the start (left) */
    margin: auto;
    position: relative; /* Position relative for absolute positioning */
  }
  
  .showcase-media img {
    position: absolute; /* Position the image absolutely */
    right: 20%; /* Shift the image off-screen to the right */
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    
  }
}


/* Quote */

.quote-heading{
  margin-top: 0 !important;

}

.block__quote .feature{
  text-align: center !important; /* Center align all text */
  display: flex !important; /* Use flexbox for centering */
  flex-direction: column !important; /* Stack items vertically */
  justify-content: center !important; /* Center vertically */
  align-items: center !important; /* Center horizontally */
  width: 100%;
  margin-bottom: 10rem !important;
  border: 1px solid red;
  max-width: 1400px;
}

.block-quote .testimonial__image{
  max-width: 800px !important;
  margin: 0 auto;

}
.block-quote .testimonial__image img{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.function-heading{
  max-width: 1200px !important;
  margin: 0 auto;
}

@media screen and  (min-width: 768px) {
  .block-quote{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 1400px;
    margin: 0 auto;
  }
  
}

/* Footer */


.block-footer{
  font-size: 2rem!important;
background: #222;
padding: 2rem
}

.block-footer h2{
  font-size: 3rem!important;
background: #222;
padding: 2rem;
font-weight: 300 !important;
}


.block-footer .collapsible__header{
  margin-top: 2rem ;
  }

.block-footer .collapsible__content{
  padding-left: 2rem;
  }

  .block-footer--copyright{
   padding: 5rem 0 3rem 0;
    text-align: center;
    color:#fff;
    opacity: 0.5;
  }

  .callout__content h2{
    background-color: transparent;
    font-size: 4rem !important;
    font-weight: 600 !important;
  }
  .collapsible__break__desktop{
    display: none;
  }

  @media screen and (min-width: 768px) {
    .footer-grid{
     display: flex;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
     justify-content: space-evenly;
    }
    .collapsible__chevron, .collapsible .icon-container{
      display: none;
    }

     .collapsible__content{
      opacity: 1 !important;
      max-height: 100%;
      color: #fff !important;
    }
    
    .collapsible__content .list__item{
      color:  #fff !important;
      opacity: 0.5 !important;
    }
    .collapsible__content .list__item:hover{
      color:  #fff !important;
      opacity: 1 !important;
    }
    .collapsible__break{
      display: none;
    }

    .collapsible__break__desktop{
      display: block;
      border: 1px solid #393939;
    }

  }

  .tools{
    fill: var(--color-primary);
    stroke-width: 1px !important;
  }