<div class="media">
    <div class="media__image">
      <svg class="icon icon--accent">
        <use xlink:href="images/sprite.svg#snap
        "></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Easy Start & Managed Updates</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias facilis laudantium accusantium animi totam culpa, saepe dolorem nam ipsa repellat ut delectus, dicta ab porro accusamus quaerat illum, consequatur optio.
     </p>
    </div>
  </div>