<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea facere eum unde consectetur est
      temporibus iure nulla cupiditate eveniet corrupti architecto voluptatem, odit in ipsam neque voluptas, laborum
      consequuntur culpa.</p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--accent">
            <use xlink:href="images/sprite.svg#line
            "></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">John Smith</h3>
          <p class="media__description">ABC Company CEO</p>
          </p>
        </div>
      </div>
    </footer>
  </blockquote>